html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.text-info {
  color: #ffffff !important;
}

.text-normal {
  color: #a3a3a3 !important;
}


.glass-card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 1rem;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 2rem;
  color: white;
}

.glass-badge {
  padding: 0.4rem 0.75rem;
  border-radius: 0.75rem;
  font-weight: 600;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  /* translucent white */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 0.75rem;
}

/* ORB GLOW EFFECT */
.background-orbs {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  top: 0;
  left: 0;
}

.orb {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.5;
  animation: float 10s ease-in-out infinite alternate;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-30px);
  }
}